body {
    background-color: #3b1e7f;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 20px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;

}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    border: #4b6cf1 solid;
    border-radius: 15px;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: #3b1e7f;
    color: #fff;
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 20px;
}

.main {
    padding: 25px;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    border: #4b6cf1 solid;
    border-radius: 10px;
    border-width: 5px;
    background-color: #fff;
}

.container {
    border: 1px #4b6cf1 solid;
    display: grid;
    height: 700px;
    width: 700px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);

}

#divs {
    border: 1px #4b6cf1 solid;
}